html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding:0;
  background-color: black;
  
  margin: auto;
  align-content: center;
  font-family: 'Baumans', cursive;
  color:white;
  font-size: 24px;
  font-weight: bolder;
}
h3{
  color: #8fc7bc;
  color: 
}
.container{
   height: 100%; 
  margin: auto;
  background-image: url("../images/hubble.jpg");
  max-width: 1536px;
}
button{
  width:440px;
  height: 80px;
  margin: auto;
  margin-top: 15px;
  color:white;
  font-size: 30px;
  padding: 0px;
  background-color:black;
  border-color: #8fc7bc;
  border-style: groove;
  border-width: 10px;
  border-radius: 150px 20px;
  
}
.scoreElements{
align-content: center;
margin: auto;
width: 10%;
padding-top: 50px;
}
#wins{
  text-align:center;
}
.bgButton{
  align-content:center;
  margin:auto;
  width:30%;
}
.playElements{
  align-content: center;
  margin: auto;
  width: 75%;
  padding-top:70px;
}

ul li a {
  padding-left:20px;
  color: black; 
  display: block;
  border-width: 3px;
  text-decoration: none;
  padding: 16px;
  width:50%
}

ul {
  list-style-type: circle;
}

li {
  display: block;
}

ul li a:hover {
  color: #7641f0;
  display: block;
  text-decoration: none;
}

li:hover {
  background-color:black;
}
.answers{
  padding-left: 5px;
}
.playElements {
  align-content: center;
  margin: auto;
  width: 75%;
  padding-top: 70px;
}
#Timer {
  font-size: 80px;
  font-weight: bolder;
}
.tmyk{
  padding-top:15px;
}
.extra{
  clear: both;
  float: left;
  width:30%;
  padding: 15px;
  margin: 15px;
  /* padding-top: 15px; */
  font-weight: lighter;
  background-color: rgba(1, 29, 31, 0.795);
}
img{
  padding-top: 15px;
  padding-left: 15px;
  clear: both;
  max-width: 65%;
  border:10px;
  border-color: #7641f0;

}

